
.starttext{
    margin-top: 60px;
    float:left;
    margin-right: 5%; 
}
.startimg {
    width: 450px;
    height: 300px;
    margin-top: -4%;
    margin-bottom: 5%;
}
.headline {
    margin-top: 12px;
}
h2{
    margin-left: 20px;
    color: #4a4c4a;
}
.col-xs-6 {
    float:right;
}
.popc, .pop{
    margin-left: 10%;
    margin-bottom: 2%;
}

.ad1, .ad3{
    width: 100%;
    height: 350px;
    background-color: #f2f2f2;
}
.ad2{
    width: 100%;
    height: 350px;
    background-color: #fff;
}

.wrapper {
    margin-top: 6%;
}