
.linkies{
    margin: 0;
    margin-top: 4%;
    margin-left: 10%;
    color: #666866;
}

.hr{
    width: 81%;
    margin-top: 2.5%;
}
h3{
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: -25px;
}
.signin {
    margin-left: 83%;
    color:#449b45;
}