.linkies {
    margin-left: 80px;
    margin-top: 40px;
    color: #666866;
}

.signin {
    margin-left: 83%;
    color: #449b45;
}

.navbar-show {
    position: fixed;
    height: 90px;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    transition: top 0.7s;
    z-index: 5;
    border-color: #f2f2f2;
}

.navbar-close {
    top: -100px;
}

.navbar.navbar-default {
    background-color: #fff;
}
.navbar-header{
    width: 100%;
}
@media (max-width:767px) { 
    .navbar-default li {
        float:left;
        font-size: 14px;
        margin: -17px;
		height: 60px;
    }
}

@media (max-width:767px) { 
    .links {
        float:right;
        font-size: 14px;
        margin-top: -3px;
		height: 50px;
    }
}
@media (max-width:674px) { 
    .links {
        margin: 10px;
        font-size: 14px;
        margin-top: -40px;
		height: 70px;
    }
}